<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title>{{ s.site_name }}</title>
<link>{{ target.abs_url(home) }}</link>
<atom:link href="{{ target.abs_url(home ~ 'feed.xml') }}" rel="self" type="application/rss+xml"/>
<description>{{ s.description }}</description>
<language>{{ lang.code }}</language>
{% if build_date %}
<lastBuildDate>{{ build_date }}</lastBuildDate>
{% endif %}
{% for item in items %}
<item>
<title>{{ item.post.title }}</title>
<link>{{ item.link }}</link>
<guid isPermaLink="false">{{ item.post.guid }}</guid>
<pubDate>{{ item.pub_date }}</pubDate>
{% for author in item.post.authors %}
<dc:creator>{{ author|author_name }}</dc:creator>
{% endfor %}
<description>{{ item.post.description }}</description>
<content:encoded>{{ item.content }}</content:encoded>
</item>
{% endfor %}
</channel>
</rss>
